/* Estilos para eliminar márgenes y padding predeterminados */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  font-family: 'Open Sans', sans-serif;
  overflow: hidden; /* Evitar el scroll vertical */
}

/* Título e imágenes */
h1 {
  text-align: center;
  margin-top: 20px;
  display: flex; /* Usar flexbox para alineación precisa */
  justify-content: center; /* Centrar horizontalmente */
  width: 100%;
}


    /* Media queries para móviles */
    @media (max-width: 768px) {
      .navbar {
        flex-direction: column; /* Cambiar a columna en móviles */
        align-items: flex-start;
        padding: 10px;
      }

      .navbar img {
        height: 60px; /* Reducir aún más el tamaño del logo */
      }

      .navbar-links {
        gap: 10 px;
      }

      .navbar-links a {
        font-size: 12px; /* Reducir el tamaño de la fuente */
      }

      .open-sans-bold {
        font-size: 1rem; /* Reducir el tamaño de la fuente */
      }

      #slider1, #slider2 {
        width: 90%; /* Ajustar el ancho para móviles */
        height: auto; /* Altura automática */
      }

      .credits p {
        font-size: 12px; /* Reducir el tamaño de la fuente */
      }
    }

/* Ajustar el contenedor principal para dar espacio al navbar */
#main-content {
  margin-top: 100px;
  height: calc(100vh - 100px); /* Ajustar la altura para el navbar */
  overflow-y: auto; /* Permitir scroll solo dentro del contenido principal */
}

/* Navbar */
.navbar {
  position: fixed;      
  top: 0;       
  left: 0;
  width: 100%; /* Asegura que el navbar ocupe el ancho completo */
  background-color: white; /* Fondo blanco para el navbar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Logo en el navbar */
.navbar img {
  height: 80px; /* Reducir el tamaño para móviles */
  margin-right: 15px;
}

.navbar-links a:last-child {
  margin-right: 50px; /* Ajusta el valor según sea necesario */
}

/* Contenedor de botones en la navbar */
.navbar-links {
  display: flex;
  gap: 10px; /* Reducir el espacio entre botones */
  flex-wrap: wrap; /* Permitir que los botones se envuelvan en móviles */
}


/* Estilo de los botones */
.navbar-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px; /* Reducir el tamaño de la fuente */
}

/* Estilo para los créditos y logos */
.credits {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: #333;
  color: white;
}

.credits img {
  height: 40px; /* Reducir el tamaño de los logos */
  margin: 10px 0;
}

.credits p {
  font-size: 14px;
  margin-top: 10px;
  text-align: justify;
  line-height: 1.6;
  font-weight: 300; /* Cambiar a light/regular */
}
