<div class="navbar">
  <a href="https://edgarzr54.github.io/StreetDataInsight/">
    <img src="https://cdn.jsdelivr.net/gh/EDGARZR54/StreetDataInsight@1f3b8ae425c0858dda345e5b3fbe9e28cf33a89d/Imagotype/SDI_Imagotype.svg" alt="SDI Logo">
  </a>
  <div class="navbar-links">
    <a href="https://edgarzr54.github.io/StreetDataInsight/">Inicio</a>
    <a href="https://edgarzr54.github.io/StreetDataInsight/Preliminar/Preliminar.html">Preliminar</a>
    <a href="https://edgarzr54.github.io/StreetDataInsight/Methodology/Methodology.html">Metodología</a>
    <a href="https://edgarzr54.github.io/StreetDataInsight/Tools/Tools.html">Herramientas</a>
    <a href="https://edgarzr54.github.io/StreetDataInsight/#TesisRepositorio">Documento</a>
    <a href="https://edgarzr54.github.io/StreetDataInsight/MediaAR/MediaAR.html">Medios AR</a>
    <a href="https://edgarzr54.github.io/StreetDataInsight/Results/Results.html">Resultados</a>
    <a href="https://edgarzr54.github.io/StreetDataInsight/#Segmentacion">Segmentación</a>
    <a href="https://edgarzr54.github.io/StreetDataInsight/Referential%20Comparison/Referential.html">Comparativa</a>
    <a href="https://github.com/EDGARZR54/StreetDataInsight" target="_blank">Repositorio</a>
    <a href="https://www.food4rhino.com/en/app/street-data-insight?lang=es" target="_blank">Food4Rhino</a>
  </div>
</div>
