<div class="navbar">
  <a href="https://edgarzr54.github.io/StreetData-Insight/">
    <img src="https://cdn.jsdelivr.net/gh/EDGARZR54/StreetData-Insight@1f3b8ae425c0858dda345e5b3fbe9e28cf33a89d/Imagotype/SDI_Imagotype.svg" alt="SDI Logo">
  </a>
  <div class="navbar-links">
    <a href="https://edgarzr54.github.io/StreetData-Insight/">Inicio</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/Preliminar/Preliminar.html">Preliminar</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/Methodology/Methodology.html">Metodología</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/Tools/Tools.html">Herramientas</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/#TesisRepositorio">Documento</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/MediaAR/MediaAR.html">Medios AR</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/Results/Results.html">Resultados</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/#Segmentacion">Segmentación</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/Referential%20Comparison/Referential.html">Comparativa</a>
    <a href="https://github.com/EDGARZR54/StreetData-Insight" target="_blank">Repositorio</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/#Instalacion">Instalación</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/#documentacion">Documentación</a>
    <a href="https://www.food4rhino.com/en/app/street-data-insight?lang=es" target="_blank">Food4Rhino</a>
  </div>
</div>
